<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/vraenchike_db
           <!--jdbc:mysql://localhost/temp_measur-->
        </property>




                <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="show_sql">true</property>
        <!--<mapping class="com.vraenchike.Model.TestModel"/>-->
        <mapping class="com.vraenchike.Model.Photo"/>
        <mapping class="com.vraenchike.Model.Place"/>
        <mapping class="com.vraenchike.Model.User"/>
        <mapping class="com.vraenchike.Model.Banned"/>
        <mapping class="com.vraenchike.Model.UserBanned"/>
        <mapping class="com.vraenchike.Model.UserLoginInfo"/>
        <mapping class="com.vraenchike.Model.Photo"/>
        <mapping class="com.vraenchike.Model.UserPlaces"/>
      <!--  <mapping class="com.vraenchike.Model.UserPhoto"/>
        <mapping class="com.vraenchike.Model.UserPhotoId"/>
        -->
        <mapping class="com.vraenchike.Model.Likes"/>


    </session-factory>
</hibernate-configuration>